$mar:10px;

.main-nav {

  display: flex;
  justify-content: space-between; 
  padding: 10px;
  margin: $mar ;
}

.left-nav > ul,
.right-nav > ul {

  display:flex;
  align-items: center; 
  font-weight: bold;
  font-family: $sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.left-nav {

  > ul {
    > li {
      margin-left: $mar ;
      padding: 5px;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      margin-right: $mar ;
      text-transform: uppercase;
    }

    > li:last-of-type {
      font-size: 17px;
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

  background-color: $lightest-gray;

}
