.main-nav {

}

.left-nav > ul,
.right-nav > ul {
  font-weight: bold;
  font-family: $sans-serif;
  text-transform: uppercase;
}

.left-nav {

  > ul {
    > li {
      padding: 5px;
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li {
      font-style: uppercase;
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
